.skills__container {
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;
    pointer-events: auto;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    pointer-events: auto;
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
    pointer-events: auto;
}

.skills__box {
    display: flex;
    justify-content: flex-start;
    column-gap: 2.5rem;
    pointer-events: auto;
}

.skills__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    align-items: flex-start;
    row-gap: 1rem;
    pointer-events: auto;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
    pointer-events: auto;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: #ffe100;
    pointer-events: auto;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
    pointer-events: auto;
}

 .skills__level {
    font-size: var(--tiny-font-size);
    pointer-events: auto;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .skills__container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}


/* For medium devices */
@media screen and (max-width: 576px) {
    .skills__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills__content {
        padding: 1.5rem;
    }

    .skills__group {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* For small devices */
@media screen and (max-width: 430px) {
    .skills__box {
        column-gap: 1.25rem;
    }

    .skills__container {
        column-gap: 0.25rem;
    }

    .skills_name {
        font-size: var(--small-font-size);
    }
}
